<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<style>
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		text-align: center; /* Alignement centré */
	}
</style>
</head>
<body>
   <nav>
      
         <div >
            
              <img src="assets/img/logo_viapost.png" > 
         
         </div> 
  
      
  </nav>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">S'inscrire</label>
					<input type="text" name="txt" placeholder="Nom " [(ngModel)]="signupObj.username">
					<input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email">
					<input type="password" name="pswd" placeholder="Mot de passe" [(ngModel)]="signupObj.password">
					<button (click)="onSignUp()">S'inscrire</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Se connecter</label>
					<input type="text" name="username" placeholder="Nom" [(ngModel)]="loginObj.username">
					<input type="password" name="password" placeholder="Mot de passe" [(ngModel)]="loginObj.password" >
					<button (click)="onLogin()">Se connecter</button>
				</form>
			</div>
	</div>
</body>
</html>