
        
      <body>
            <div id="menu" >
                <h3 style="margin-left: 90px;">Tableau de bord</h3>
    
                <iframe title="viapost_complet_final" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiMDgwNmI2ZjMtYjAwNS00M2RhLWEyNTUtZGFlNDIxYzlkYjlkIiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>    
            
            
            </div>
                <div id="contenu">
                
                <h2 style="margin-left: 50px; align-items: center" >Menu</h2>
                <ul>
                    <li><button   (click)="envoyer2()"  >
                         <img src="assets/img/dash.png" alt="Icone Reclamation">
                         
                         Visualisation </button> </li>
                
                    <li>   <button    (click)="envoyer()"  > <img src="assets/img/reclam.png" alt="Icone Reclamation"> Reclamation </button> 
                    </li>
                    
        
        
                </ul>
                <ul style=" align-items: center;margin-top: 200px; bottom: px;">
                    <img src="assets/img/logout.png" alt="Icone logout" style="display: flex; width: 30px; height: 20px;margin-left: 1px; margin-right: 150px;">
        
                    <li>  
        
                        <button (click)="envoyer1()">
                            <span style="margin-left: 20px; margin-right: 10px; margin-top: 900px; bottom: 2px;">déconnecter</span>
                          </button>
                          
                    </li>
            
                </ul>
                
            </div>
        
        
            
        </body>
        
          
        
            
           
        
                   
               
           
               
                   
                        
        
        